# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Streamlit config / cache
.streamlit/

# OS specific files
.DS_Store
Thumbs.db
